.slider {
    -webkit-appearance: none;
    appearance: none;
    max-width: 500px;
    min-width: 50%;
    width: auto;
    height: 0.65em;
    background: #5a5a5a;
    outline: none;
    opacity: 0.7;
    transition: all .2s ease-in-out;
    border-radius: 100vmin;
}
.slider:hover {
    opacity: 1;
    border-radius: 50vmin;
}

.slider::-webkit-slider-thumb {
    width: 1em;
    height: 1em;
    background: #0085AD;
    cursor: pointer;
}
.slider::-moz-range-thumb {
    width: 1em;
    height: 1em;
    background: #0085AD;
    cursor: pointer;
}

em.survey_question {
    font-style: normal;
}